# logs
server.log
server.pid
server.log.old

# Dolphin
.directory

# SVN ?
.svn

# Compile time files
*.o
*.a
*.so
*.d
*.hxx
*.cxx

# Build outputs
build/contrib/DORM/bin/*
output/*

# User configs
config.js

# IDE
CMakeLists.txt
cmake-build-debug
.idea
CMakeCache.txt
*CMakeFiles*
cmake_install.cmake
ninjapool.cbp
